h1 {text-align: center;}
/*p {text-align: center;}*/
div {text-align: center;
      }
body {
    background-color: #ceffe3;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

button1 {
    color:azure;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
 imgcontainer {
    text-align:center;
    float:right; 
   /*margin-right: 10%;*/
   margin-bottom: 0px;
     border: 1px solid #ccc;
   width: 70%;
        

}
 
  
  .calendar {
    width: 300px;
    border: 1px solid #9ce6b8;
    padding: 30px;
    margin-top: 100px;
    border-color: rgb(19, 191, 191);
    background-color: #b7fddb;
    float: left;
    
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
  }
  
  .day {
    padding: 5px;
  }
  
  .dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .date {
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
  }
  
  .date:hover {
    background-color: #a9ce9e;
  }
  .items {
    text-align:center;
    float:right; 
   /*margin-right: 10%;*/
   margin-top: 100px;
     border: 1px solid #ccc;
   width: 70%;
        
  }
  

.todo-container {
    width: 300px;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .todo-input {
    display: flex;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    flex: 1;
    padding: 5px;
  }
  
  
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }